@import "../../assets/styles/custom.scss";

@media(max-width: 768px) {
   .navbar {
      border-radius: 0px !important;
   }
}

.navbar {
   background-color: #8257e5;
   border-radius: 5px;
}

.nav-link {
   font-size: 1.2rem;
   color: rgba(255, 255, 255, 0.5);
}