<rng-header></rng-header>
<div [class]="styles[0]">
   <div [class]="styles[1]" style="background-color: #fafafa; border-radius: 20px;">
     <section [class]="styles[2]">
       <h1 [class]="styles[3]">Conheça o melhor catálogo de produtos</h1>
       <p [class]="styles[4]" style="margin: 0 5rem;">Ajudaremos você a encontrar os melhores produtos disponíveis no mercado.</p>
        <span>
          <rng-button-icon></rng-button-icon>
        </span>
      </section>

     <section [class]="styles[5]">
       <img src="assets/imgs/main-image.svg" [class]="styles[6]"/>
     </section>
   </div>
 </div>